@using TGAS
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en" class="ng-app: pApp">
<head>
    <meta charset="UTF-8">
    <!--IE兼容标签-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--响应式布局-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0, minimal-ui" />
    <!--启动webapp功能，会删除默认的苹果工具栏和菜单栏-->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <!--启动webapp功能时，显示手机信号、时间、电池的顶部导航栏的颜色-->
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <!--忽略页面中的数字识别为电话号码-->
    <meta name="format-detection" content="telephone=no, email=no" />
    <!--默认使用webkit内核进行渲染-->
    <meta name="renderer" content="webkit">
    <title>PPmoney理财平台</title>
    <style>
        #footer {
            position: fixed;
            z-index: 2;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 48px;
            background-color: #06d3c2;
            color: white;
            padding: 0;
            border-top: 1px solid #1edece;
        }


            #footer div.column {
                text-align: center;
                height: 48px;
                color: #ffffff;
                text-shadow: 1px 1px 4px #0d9c90;
            }

                #footer div.column:active {
                    background-color: #1edece;
                    text-shadow: none;
                }
    </style>
    @{
        var strPath = ConfigManager.IsCloudStorage != null && ConfigManager.IsCloudStorage.Value ? "WeixinApp" : "app";
        var buildVersion = false;
        var mainJsName = buildVersion ? "ptMain-build" : "ptMain";
        var buildFile = buildVersion ? "build" : "routes";
        //dataMain path
        var dataMain = ConfigManager.CloudUrlConvertor(
            string.Format("/{0}/scripts/{1}/{2}.js?v={3}", strPath, buildFile, mainJsName, ConfigManager.CssJsVersion));
        //requireJS path
        var src = ConfigManager.CloudUrlConvertor(
            string.Format("/{0}/scripts/vendor/require.js?v={1}", strPath, ConfigManager.CssJsVersion));
    }
</head>
<body ng-controller="partnerCtrl">
    <div id="wi-div-waiting">
        <div class="spinner">
            <div class="cube cube0"></div>
            <div class="cube cube1"></div>
            <div class="cube cube2"></div>
            <div class="cube cube3"></div>
            <div class="cube cube4"></div>
            <div class="cube cube5"></div>
            <div class="cube cube6"></div>
            <div class="cube cube7"></div>
            <div class="cube cube8"></div>
            <div class="cube cube9"></div>
            <div class="cube cube10"></div>
            <div class="cube cube11"></div>
            <div class="cube cube12"></div>
            <div class="cube cube13"></div>
            <div class="cube cube14"></div>
            <div class="cube cube15"></div>
        </div>
    </div>
    <div id="view"></div>
    <div id="footer">
        <div class="row">
            <a href="#/home">
                <div class="column column-4 p10">
                    <span>PP合伙人</span>
                </div>
            </a>
            <a href="#/yjdetails">
                <div class="column column-4 p10">
                    <span>佣金详情</span>
                </div>
            </a>
            <a href="#/yjincrease">
                <div class="column column-4 p10">
                    <span>佣金提升</span>
                </div>
            </a>
        </div>
    </div>
    <link rel="stylesheet" type="text/css" href="@ConfigManager.CloudUrlConvertor("/" + strPath + "/styles/common/weixin-loading.css" + "?v=" + ConfigManager.CssJsVersion)">
    @if (buildVersion)
    {
        <link rel="stylesheet" type="text/css" href="@ConfigManager.CloudUrlConvertor("/" + strPath + "/styles/build/partnerClean.css" + "?v=" + ConfigManager.CssJsVersion)">
        <link rel="stylesheet" type="text/css" href="@ConfigManager.CloudUrlConvertor("/" + strPath + "/styles/build/partnermain.css" + "?v=" + ConfigManager.CssJsVersion)">
    }
    else
    {
        <link rel="stylesheet" type="text/css" href="@ConfigManager.CloudUrlConvertor("/" + strPath + "/styles/common/base.css" + "?v=" + ConfigManager.CssJsVersion)">
        <link rel="stylesheet" type="text/css" href="@ConfigManager.CloudUrlConvertor("/" + strPath + "/styles/common/animations.css" + "?v=" + ConfigManager.CssJsVersion)">
        <link rel="stylesheet" type="text/css" href="@ConfigManager.CloudUrlConvertor("/" + strPath + "/styles/common/weixin-grid.css" + "?v=" + ConfigManager.CssJsVersion)">
        <link rel="stylesheet" type="text/css" href="@ConfigManager.CloudUrlConvertor("/" + strPath + "/styles/common/weixin-icon.css" + "?v=" + ConfigManager.CssJsVersion)">
        <link rel="stylesheet" type="text/css" href="@ConfigManager.CloudUrlConvertor("/" + strPath + "/styles/common/weixin-panel.css" + "?v=" + ConfigManager.CssJsVersion)">
        <link rel="stylesheet" type="text/css" href="@ConfigManager.CloudUrlConvertor("/" + strPath + "/styles/common/weixin-alert.css" + "?v=" + ConfigManager.CssJsVersion)">
        <link rel="stylesheet" type="text/css" href="@ConfigManager.CloudUrlConvertor("/" + strPath + "/styles/partner/partnermain.css" + "?v=" + ConfigManager.CssJsVersion)">
    }

    @*<script id="s1" data-main="/app/scripts/routes/partnerMain" src="/app/scripts/vendor/require.js"></script>*@
    <script data-main="@dataMain" src="@src"></script>
</body>
</html>


